.row
  .col-xs-12.col-sm-6.col-md-6
    - if @event_suggestion.category == "dinner"
      %h2#event_title
        %span.glyphicon.glyphicon-cutlery.list_icon
        #{@event_suggestion.name}
    - else
      %h2#event_title
        %span.glyphicon.glyphicon-glass.list_icon
        #{@event_suggestion.name}
    %h2
      %small Hosted by: #{@event_suggestion.host.name || @event_suggestion.host.email}
    %br
    %p.lead #{@event_suggestion.description}

    %h3.text-success Status: #{@event_suggestion.status}
    %br
    %p
      %strong Location:
      #{@event_suggestion.location}
    %p
      %strong Time:
      #{@event_suggestion.start_time.strftime("%I:%M %p")}
    %p
      %strong Date:
      #{@event_suggestion.date.strftime("%A, %d %B")}

    %h3 Who's coming
    -if @chosen_event
      %ul.list-unstyled
        - @chosen_event.users.each do |user|
          - if user.name
            %li #{link_to user.name, user_path(user)}
          - else
            %li #{link_to user.email, user_path(user)}
    - else
      %p Convince more people next time!

    %h3 Invited
    %ul.list-unstyled
      - @event_suggestion.invitees.each do |invitee|
        - if invitee.name
          %li #{link_to invitee.name, user_path(invitee)}
        - else
          %li #{link_to invitee.email, user_path(invitee)}
    = link_to 'Edit event', edit_event_suggestion_path(@event_suggestion), class: 'btn btn-primary' if can? :update, @event_suggestion