.row
  .col-xs-12.col-sm-6.col-md-6
    - if @event_suggestion.category == "dinner"
      %h2#event_title
        %span.glyphicon.glyphicon-cutlery.list_icon
        #{@event_suggestion.name}
    - else
      %h2#event_title
        %span.glyphicon.glyphicon-glass.list_icon
        #{@event_suggestion.name}
.row
  .col-xs-12.col-sm-6.col-md-6
    %h2
      %small Hosted by: #{@event_suggestion.host.name || @event_suggestion.host.email}

    %h3.text-success
      Status: 
      - if @event_suggestion.status == "closed"
        finalised
      - else
        open
    %br
    %p
      %strong Venue:
      #{@location.name}
    = hidden_field_tag :venue_id, @location.id
    %p
      %strong Time:
      #{@event_suggestion.start_time.strftime("%I:%M %p")}
    %p
      %strong Date:
      #{@event_suggestion.date.strftime("%A, %d %B")}

    %h3 Who's coming
    -if @chosen_event
      %ul.list-unstyled
        - @chosen_event.users.each do |user|
          - if user.name
            %li #{user.name}
          - else
            %li #{user.email}
    - else
      %p Convince more people next time!

    %h3 Invited
    %ul.list-unstyled
      - @event_suggestion.invitees.each do |invitee|
        - if invitee.name
          %li #{invitee.name}
        - else
          %li #{invitee.email}
    = link_to 'Edit event', edit_event_suggestion_path(@event_suggestion), class: 'btn btn-primary' if can? :update, @event_suggestion
  .col-xs-12.col-sm-6.col-md-6
    %section#map-canvas-final