.row
  .col-md-2
  .col-xs-12.col-md-8.text-center
    = form_for(@event_suggestion, html: {role: 'form'}) do |f|
      - if @event_suggestion.errors.any?
        %h4
          = pluralize(@event_suggestion.errors.count, "error")
          prohibited this event from being saved:
        %ul
        -@event_suggestion.errors.full_messages.each do |msg|
          %li= msg
      .row
        %h3 I WANT TO HAVE
        .col-xs-6
          = f.radio_button(:category, 'dinner', style: 'display:none')
          = f.label(:category_dinner, 'Dinner', class: 'btn btn-default btn-block btn-lg')
        .col-xs-6
          = f.radio_button(:category, 'drinks', style: 'display:none')
          = f.label(:category_drinks, 'Drinks', class: 'btn btn-default btn-block btn-lg')
      .row.form-group
        %h3 AT
        = f.text_field :location, class: 'form-control', placeholder: 'The best venue ever'
      .row
        %h3 SOMETIME BETWEEN
        .col-xs-12.col-sm-5.form-group
          = f.label :start_date
          %br
          = f.date_select(:start_date, :order => [:day, :month, :year])
        .col-xs-12.col-sm-5
          = f.label :end_date
          %br
          = f.date_select(:end_date, :order => [:day, :month, :year])
        .col-xs-12.col-sm-2
          = f.label :start_time, 'At around'
          = f.text_field :start_time, class: 'form-control', placeholder: '7:00 pm'
      .row
        %h3 WITH
        = hidden_field_tag "event_suggestion[invitee_ids][]"
        - @events_without_current_user.each do |invitee|
          .checkbox-inline
            = check_box_tag "event_suggestion[invitee_ids][]", invitee.id, @event_suggestion.invitees.include?(invitee), id: "invitation_ids_#{invitee.id}", style: 'display:none'
            = f.label :invitee_ids, invitee.name || invitee.email, for: "invitation_ids_#{invitee.id}", class: 'btn btn-default btn-lg'
      .row
        =f.submit "BOOM", class: 'btn btn-primary btn-lg btn-block'