.row#event_suggestion_heading
  .col-xs-12.col-sm-8.col-md-9.text-center
    - if @event_suggestion.category == "dinner"
      %h1#event_title
        %span.glyphicon.glyphicon-cutlery.list_icon
        #{@event_suggestion.name}
    - else
      %h1#event_title
        %span.glyphicon.glyphicon-glass.list_icon
        #{@event_suggestion.name}
  .col-xs-12.col-sm-4.col-md-3.text-center
    .btn-group#event_settings_group
      - if can? :update, @event_suggestion
        = link_to 'Edit event', edit_event_suggestion_path(@event_suggestion), class: 'btn btn-primary'
        = link_to 'Finalise event', finalise_event_suggestion_path(@event_suggestion), class: 'btn btn-primary'
.row
  .col-xs-12.col-sm-12.col-md-12#invitee_index 
    %p#invited_heading
      %span.glyphicon.glyphicon-user
      Who's invited?
    #invitee_list
      - @invitees.each do |invitee|
        %p.invitee #{invitee.name || invitee.email}
>>>>>>> master
.row#when_where_content
  .col-xs-12.col-sm-6.col-md-4
    #venue_index
      %h3#venue_index_heading Where should we go?
      - @event_venues.each do |venue|
        .row
          .col-xs-8.col-md-8.event_venue_name
            = link_to venue.venue.name, event_venue_path(venue)
          .col-xs-2.col-md-2{id: "vote_link_event_venue_#{venue.id}"}
            - if !(@current_user.voted_for? venue)
              = link_to 'Like', vote_event_venue_path(venue, direction: 'like'), method: :put, class: 'like_venue_link'
            - else
              = link_to 'Unlike', vote_event_venue_path(venue, direction: 'unlike'), method: :put, class: 'unlike_venue_link'
          .col-xs-1.col-md-1.pull-right{id: "likes_event_venue_#{venue.id}"}
            = venue.get_upvotes.size
    #add_event_venue_form
      %p#add_venue 
        %span.glyphicon.glyphicon-map-marker
        Add a venue
      = form_for(@event_venue, role: "form", id: 'add_event_venue') do |f|
        - if @venue.errors.any?
          %h4
            = pluralize(@venue.errors.count, "error")
            prohibited this venue from being saved:
          %ul
          - @venue.errors.full_messages.each do |msg|
            %li= msg
        = hidden_field_tag :event_suggestion_id, @event_suggestion.id
        .form-group
          = text_field_tag :name, nil, class: "form-control", placeholder: "Venue name"
        .form-group
          = text_field_tag :address, nil, id: "autocomplete", class: "form-control", placeholder: "Address"
        .form-group
          = text_field_tag :description, nil, class: "form-control", placeholder: "Description"
        = submit_tag "Add venue", class: "btn btn-primary btn-block"
  .col-xs-12.col-sm-6.col-md-1
  .col-xs-12.col-sm-6.col-md-7
    .row
      .col-xs-12.col-sm-12.col-md-12
        %h3#events_index_heading When are you free?
        = form_tag(accept_suggestions_event_suggestion_path(@event_suggestion), :id => 'accept_suggestions_form') do
          - if @event_choice.errors.any?
            %h4
              = pluralize(@event_choice.errors.count, "error")
              prohibited this event_choice from being saved:
            %ul
            - @event_choice.errors.full_messages.each do |msg|
              %li= msg
          %table.table
            - @events.each do |event|
              %tr
                %td.date_option
                  = check_box_tag "event_ids[]", event.id, @current_user.events.include?(event), id: "event_ids_#{event.id}", style: "display:none"
                  = label_tag :event_ids, event.date.strftime("%a, %d %b"), for: "event_ids_#{event.id}", class: "btn btn-default btn-lg btn-block"
                %td
                  - event.event_choices.each do |choice|
                    - if event.event_choices.length == 1
                      %p{ style: "display:inline"} Only #{choice.user.name || choice.user.email} is free.
                    - elsif choice == event.event_choices.last
                      %p{ style: "display:inline"} and #{choice.user.name || choice.user.email} are free.
                    - else
                      %p{ style: "display:inline"} #{choice.user.name || choice.user.email},
          = submit_tag "COUNT ME IN", class: "btn btn-primary btn-lg btn-block"
