
.row
  .col-xs-12.col-md-6.col-md-offset-3.text-center
    = form_tag(finalise_submit_event_suggestion_path(@event_suggestion), method: :put, html: {role: 'form'}) do |f|
      - if @event_suggestion.errors.any?
        %h4
          = pluralize(@event_suggestion.errors.count, "error")
          prohibited this event_suggestion from being saved:
        %ul
        - @event_suggestion.errors.full_messages.each do |msg|
          %li= msg
      .form-group
        = text_field_tag "event_suggestion[location]", nil, class: "form-control", placeholder: "Venue name *"
      .form-group
        = text_field_tag "event_suggestion[start_time]", nil, class: "form-control", placeholder: "Event time *"
      .input-daterange.input-group#datepicker
        %input{type:"text", class: "form-control", name: "event_suggestion[date]", placeholder: 'dd/mm/yyyy *'}
      = submit_tag "Finalise event", class: "btn btn-primary btn-block"