.row
  .col-xs-12.col-sm-6.col-md-6
    %h2 #{@event_suggestion.name}
    %h2
      %small Hosted by: #{@event_suggestion.host.name || @event_suggestion.host.email}
    %br
    %p.lead #{@event_suggestion.description}

    %br

    %p
      %strong Location:
      #{@event_suggestion.location}
    %p
      %strong Start Date:
      #{@event_suggestion.start_date.strftime("%A, %d %b %Y")}
    - if @event_suggestion.end_date
      %p
        %strong End Date:
        #{@event_suggestion.end_date.strftime("%A, %d %b %Y")}
    %p
      %strong When:
      #{@event_suggestion.time_of_day}

    %br

    %h3 Invited
    %ul.list-unstyled
      - @invitees.each do |invitee|
        - if invitee.name
          %li #{link_to invitee.name, user_path(invitee)}
        - else
          %li #{link_to invitee.email, user_path(invitee)}

  .col-xs-12.col-sm-6.col-md-6
    %table.table.table-bordered.table-striped
      %caption
        %h2 Availability
        
        - if @events
          %tr
            %th Invitees
            - @events.each do |event|
              %th #{event.date.strftime("%A, %d %b")}
            - @invitees.each do |invitee|
              %tr
                %td #{invitee.name || invitee.email}
                - @events.each do |event|
                  %td #{invitee.events.where(date: event.date).first.day_name rescue nil}
        - else
          %p.lead This event does not have a date range

  = form_for(@current_user) do |f|
    - if @current_user.errors.any?
      %h4
        = pluralize(@current_user.errors.count, "error")
        prohibited this current_user from being saved:
      %ul
      -@current_user.errors.full_messages.each do |msg|
        %li= msg

    = hidden_field_tag "user[event_ids][]"
    - @events.each do |event|
      = check_box_tag "user[event_ids][]", event.id, @current_user.events.include?(event), id: "event_choice_ids_#{event.id}"
      = f.label :event_ids, event.date.strftime("%A, %d %b"), for: "event_choices_ids_#{event.id}"
    %br
    =f.submit "Submit"