.row
  - if @upcoming_events.any?
    .col-xs-12.col-sm-12.col-md-12.text-center
      %h2
        Upcoming events
        %br
        %small Today is #{Date.today.strftime("%A, %d %B")}
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      .btn-group-vertical.event_list
        - @upcoming_events.each do |event|
          - if event.category == "dinner"
            = link_to event, class: "btn btn-default btn-lg" + (" finalised-link" if event.status == "closed").to_s do
              %span.glyphicon.glyphicon-cutlery.list_icon
              .event_suggestion_name
                - if event.name
                  #{event.name}
                - else
                  #{event.host.name}
              %span.list_date
                #{event.date.strftime("%a %d %b")}
          - else
            = link_to event, class: "btn btn-default btn-lg" + (" finalised-link" if event.status == "closed").to_s do
              %span.glyphicon.glyphicon-glass.list_icon
              .event_suggestion_name
                - if event.name
                  #{event.name}
                - else
                  #{event.host.name}
              %span.list_date
                #{event.date.strftime("%a %d %b")}
  - else
    .col-xs-12.col-sm-12.col-md-12.text-center
      %h2 
        Nothing on the horizon
        %br
        %small Today is #{Date.today.strftime("%A, %d %B")}
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      .btn-group-vertical.event_list
        = link_to "Make it happen!", new_event_suggestion_path, class: "btn btn-default btn-lg"

        / NOTES
        / = link_to vote_cheerup_path(cheerup, direction: 'down'), method: :put, :id => "downvote_#{cheerup.id}" do
        /     %i{class:"fa fa-thumbs-o-down"} #{cheerup.get_downvotes.size}