.row
  .col-xs-12.col-sm-5.col-md-4
    %h2 Log in
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: {role: 'form'}) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      - if devise_mapping.rememberable?
        .checkbox
          = f.check_box :remember_me
          = f.label :remember_me
      = f.submit "Log in", class: 'btn btn-default'

    = link_to omniauth_authorize_path(resource_name, :google_oauth2), class: 'btn btn-block btn-social btn-google-plus' do
      %i.fa.fa-google-plus
      Sign in with Google
    = render "devise/shared/links"
