!!! 5
%html{lang: "en"}
  %head
    %meta{charset:"UTF-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title DinnerOrDrinks
    %link{href:"//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css", rel:"stylesheet"}
    %script{type: "text/javascript", src: "https://maps.googleapis.com/maps/api/js?libraries=places,geometry"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default{role: 'navigation'}
      .container-fluid
        .navbar-header
          %button{type:"button", class: "navbar-toggle collapsed", "data-toggle" => "collapse", "data-target" => "#bs-example-navbar-collapse-1"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "dinnerordrinks", root_path, class: "navbar-brand", id: 'navbar_logo'

        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          %ul.nav.navbar-nav
            %li
              = link_to "Create event", new_event_suggestion_path
            - if current_user
              %li
                = link_to "Hosting", manage_events_event_suggestions_path
              %li
                = link_to "Upcoming", upcoming_events_event_suggestions_path
              %li
                = link_to "Invitations", event_invitations_event_suggestions_path
          %ul.nav.navbar-nav.navbar-right
            - if current_user
              %li #{link_to current_user.email, user_path(current_user)}
              %li #{link_to "Log out", destroy_user_session_path}
            - else
              - if params[:controller] == "devise/sessions" && params[:action] == 'new'
                %li #{link_to "Sign Up", new_user_registration_path}
              - else
                %li #{link_to "Log In", new_user_session_path}
            
    -if notice
      .alert.alert-info{role: "alert"}= notice
    -if alert
      .alert.alert-warning{role: "alert"}= alert
    -if content_for?(:home)
      = yield(:home)
    -else
      .container
        = yield
